<ion-header>
        <ion-toolbar>
          <ion-item lines="none">
          <ion-title>Create Complaint</ion-title>
          <ion-icon name="close"slot="end" (click)="dismiss()" ></ion-icon>
        </ion-item>
        </ion-toolbar>

      </ion-header>

      <ion-content>
      
        
           <ion-item>
          <ion-chip>
            <ion-label color="primary">              {{complaintType}}
            </ion-label>
          </ion-chip>
        </ion-item>
        
        

        <ion-card>

        <ion-textarea autofocus required placeholder="Describe your complaint "  rows="10" autocapitalize="true" [(ngModel)]="complaint.summary" >
        </ion-textarea>
        </ion-card>

        <ion-fab horizontal="start">
          <ion-fab-button>
            <ion-icon name="link"></ion-icon>
          </ion-fab-button>
         <ion-fab-list side="end">
          <ion-fab-button >
             <input
            id="file_input_file"
            type="file"
            (change)="onChange($event)"
            accept="image/*"
          />
          <label for="file_input_file" icon-only ion-button>
            <ion-icon name="image"></ion-icon>
          </label>
          </ion-fab-button>
        </ion-fab-list>

        </ion-fab>
        <br>
        <br>

<!--         
        <ion-slides scrollbar=true>
          <ion-slide>
            <app-short-complaint-card></app-short-complaint-card>
          </ion-slide>
          <ion-slide>
            <app-short-complaint-card></app-short-complaint-card>
          </ion-slide>
          <ion-slide>
            <app-short-complaint-card></app-short-complaint-card>
          </ion-slide>
        </ion-slides> -->
      
      
        <ion-item text-center  *ngIf="media.fileBlob">
          <ion-label>
          <img (click)="selectImage()" [src]="'data:' + media.fileBlobContentType + ';base64,' + media.fileBlob"/>
        </ion-label>
        </ion-item>
        <ion-item text-center  *ngIf="!media.fileBlob && media.fileName">
          <ion-label>
            <ion-img (click)="selectImage()" *ngIf="media.fileName"  class="image hide-overflow"
            [src]=media.fileName>
          </ion-img>    </ion-label>
        </ion-item>





      </ion-content>

      <ion-footer>


          <ion-button  (click)="postComplaint()" expand="block" color="success">
              SENT
          </ion-button>



      </ion-footer>
